.date { 
  min-width: 3.5rem;
  display: inline-block;
}

.date-year-divider { 
  text-align: center;
  font-size: 1.4rem;
  color: #555;
  line-height: 0;
  border-bottom: 2px dashed #d3d3d3;
  margin: 3rem 0 1.5rem 0;
  span {
    background: $body-bg;
    padding: 0 2rem;     
  }
}

.date-year-divider-first {
  border-bottom: none;
}

.date-year {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #444;
}
.date-month-day {
  color: #999; 
  display: inline-block;
  font-size: 1rem;  
}
.archive__post-title {
  display: inline;
  margin: 0;
  font-weight: normal;
  font-size: 1.1rem;
}
.archive-comment-count {
  display: inline-block;
  font-size: .7rem;
  vertical-align: middle;
  color: #fff;
  @include border-radius(10px);
  padding: 0.15rem .4rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  background-color: #888; 
}
.meta-tag-title {
  color: #fff;
  @include border-radius(4px);
  font-size: .7rem;
  padding: 0 .4rem;
}
.article-list {
  article {
    display: flex;
    align-items: center;
    padding-bottom: 0.8rem;
    
    h3 {
      flex: 1;
      position: relative;
      padding-right: 1rem;

      &::before, &::after {
        content: '';
        position: absolute;
        background-color: #dbdbdb;
        transition: all 0.1s ease;
      }

      &::before {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        right: 0;
        top: 45%;
        z-index: 3;
      }

      &::after {
        width: 3px;
        height: 130%;
        border-radius: 0px;
        right: 2px;
        top: 70%;
        z-index: 0;
      }

      @media all and (max-width: $container-width-plus) {
        &::after {
          display: none;
        }
      }

      &:hover {
        &::before {
          background-color: $color-hover;
        }
      }

    }

    &:last-child h3::after {
      display: none;
    }
  }
}

article {
  .entry-content {
    line-height: 2rem;
  }
}
