/** Theme Color Samples :) **/ 
// $color: #2cac9a;
$color: #333;
$color-hover: #17bcb4;
$color-light: #5E9CA3;
$color-light2: #b5dadf;

$container-width: 960px; 
$container-width-plus: 1240px;

$body-bg: #fff;

$btn-success-bg: #5b5;
$btn-success-border-radius: .2rem;
$btn-success-color: #fff;
